@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
#hero {
    background-size: contain;
    background-image: url(img/img1.jpg);
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
     background: black;
  z-index: 1;
}
.container{
    position: relative;
    z-index: 5;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cta{
    padding: 10px 20px;
    background: rgb(196, 63, 23);
    color: aqua;
    border-radius: 50px;
    font-size: 3rem;
    font-weight: 8000;
    margin-top: 1.5rem;
    transition: 0,6s ease;
    position: absolute;
    top: 1px;
    right: 20px;
}
.cta:hover {
    background: rgb(196, 63, 23);
    transform: scale(1.05);
}
h1 {
    font-size: 3rem;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 8000;
    background: linear-gradient(903deg, #ff7b00, #ff3c8e);
    position: absolute;
    top: 10px; 
    left: 20px;
}
h2 {
    
    font-size: 20px;
    font-weight: 900;
    left: 20px;
    top: 120px;
    line-height: 25px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
     z-index: 10;
}
.box-container {
  
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 60px;
}

#hero {
  position: relative;   
  min-height: 100vh;
  
}
.box {
  position: relative;
  z-index: 2;
  width: 400px;
  min-height: 580px;  
  border: 4px solid white;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}
.box-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 2px;   
    text-transform: uppercase;
}
.box p {
    font-size: 19px;
    line-height: 1.6;
    color:#333;
    text-transform: none; 
}
.box-btn {
  position: relative;
  z-index: 3;
    display: inline-block;
    padding: 12px 28px;

    background: linear-gradient(135deg, #ff9800, #ff5722);
    color: white;
  pointer-events: auto;  
    border-radius: 25px;
    font-weight: 600;
    text-decoration: none;

    transition: 0.3s;
}

.box-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
.box-btn:active {
  transform: scale(0.95);
  box-shadow: 0 5px 10px rgba(255, 80, 0, 0.6);
}
